.singletodo {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  border-radius: 8px;
  padding: 12px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  transition: 0.2s;
}

.singletodo:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.singletodo__text {
  border: none;
  font-size: 16px;
  white-space: initial;
  word-wrap: break-word;
  padding: 4px;
}

.singletodo__text:focus {
  outline: none;
}

.singletodo__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singletodo__icon {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .singletodo {
    width: 100%;
  }
}
