.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.todolist {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid deepskyblue;
}

.todolist--remove {
  border-color: tomato;
}

.todolist__heading {
  color: deepskyblue;
  font-weight: 700;
  font-size: 16px;
}

.todolist--remove .todolist__heading {
  color: tomato;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .todolist {
    width: 100%;
  }
}
