.inputfield {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.inputfield__box {
  width: 100%;
  border-radius: 8px;
  padding: 12px 66px 12px 16px;
  font-size: 16px;
  border: 1px solid darkgray;
  transition: 0.2s;
}

.inputfield__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.75);
  outline: none;
}

.inputfield__submit {
  height: 100%;
  width: 50px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 0 8px 8px 0;
  margin-left: 12px;
  position: absolute;
  right: 0;
  transition: 0.2s all;
  cursor: pointer;
}

.inputfield__submit:hover {
  color: black;
  background-color: deepskyblue;
}

.inputfield__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
